---
---

@import "{{ site.theme }}";

.wrapper {
  .deco {
    background-image: url('https://media-exp1.licdn.com/dms/image/C4E16AQEYZDiXkfEHug/profile-displaybackgroundimage-shrink_200_800/0?e=1588809600&v=beta&t=1PkaAgYKhZW84z3Ed8Ztj9RnGjQsYvFJ8r-sElZyAk4');
    ackground-repeat: no-repeat;
    background-size: cover;
    height: 350px;
  }
  .avatar {
    position: absolute;
  }
  .details {
  }
}

